*{
    font-family: 'Nanum Brush Script', cursive;
}

body{
    margin: 0;
}

#container{
    height: 100vh;
    width: 1000px;
    margin: auto;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #F8D756;
}
    #home{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #home img{
        width: 50px;
        height: 50px;
        margin-left: 25px;
    }
    #home img:hover{
        width: 65px;
        height: 65px;
    }
    

main{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    h1{
        font-size: 5em;
        height: 10%;
    }
    form{
        height: 90%;
        width: 50%;
    }
    #inputBox{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #inputBox > div:not(#action){
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        border: 5px solid #68B984;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    span{
        width: 25%;
        font-size: 2em;
        text-align: center;
    }
    #inputBox > div input{ 
        height: 100%;
        width: 75%;
        border: 0;
        font-size: 1.75em;
        box-sizing: border-box;
    }
    #submit{
        border: 5px solid #68B984;
        background-color: #68B984;
        border-radius: 10px;
    }
    #submit button{
        height: 100%;
        width: 100%;
        border: 0;
        background-color: #68B984;
        font-size: 2em;
    }
    #submit button:hover{
    	font-size: 2.5em;
    }
    #bye a{
        text-decoration: none;
        color: black;
        margin: auto;
    }
    #action{
		height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #bye p{
        font-size: 1.5em;
        color: #3D5656;
    }
	#bye p:hover{
        font-size: 1.75em;
    }
    
footer{
    height: 10vh;
    width: 100%;
    background-color: #F8D756;
    display: flex;
}
    footer div{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer div img{
        width: 50px;
        height: 50px;
    }
    footer div a{
        text-decoration: none;
        color: black;
    }
    footer div p{
        font-size: 1.5em;
        margin: 0;
    }
    footer div p:hover{
        font-size: 1.75em;
    }